[build-system]
requires = ["sip >=6, <7"]
build-backend = "sipbuild.api"

[tool.sip.metadata]
name = "{{ module_name }}"

[tool.sip.project]
builder-factory = "CMakeBuilder.py"
sip-files-dir = "{{ sip_dir }}"
sip-include-dirs = ["{{ sip_include_dirs }}"]
build-dir = "{{ build_dir }}"

[tool.sip.bindings.{{ module_name }}]
exceptions = true
release-gil = true
concatenate = 8