name: conan-package

on:
  push:
    paths:
      - 'src/**'
      - 'test_package/**'
      - 'include/**'
      - 'cmake/**'
      - 'conanfile.py'
      - 'CMakeLists.txt'
      - '.github/workflows/conan-package.yml'
      - '.github/workflows/requirements*'
      - 'conandata.yml'
      - '.gitattributes'
    branches:
        - main
        - 'CURA-*'
        - 'PP-*'
        - '[0-9].[0-9]*'
        - '[0-9].[0-9][0-9]*'

jobs:
    conan-recipe-version:
        uses: ultimaker/cura-workflows/.github/workflows/conan-recipe-version.yml@main
        with:
            project_name: arcus

    conan-package-export:
        needs: [ conan-recipe-version ]
        uses: ultimaker/cura-workflows/.github/workflows/conan-recipe-export.yml@main
        with:
            recipe_id_full: ${{ needs.conan-recipe-version.outputs.recipe_id_full }}
            recipe_id_latest: ${{ needs.conan-recipe-version.outputs.recipe_id_latest }}
        secrets: inherit

    conan-package-create-macos:
        needs: [ conan-recipe-version, conan-package-export ]
        if: ${{ (github.event_name == 'push' && (github.ref_name == 'main' || github.ref_name == 'master' || needs.conan-recipe-version.outputs.is_release_branch == 'true')) }}
        uses: ultimaker/cura-workflows/.github/workflows/conan-package-create-macos.yml@main
        with:
            recipe_id_full: ${{ needs.conan-recipe-version.outputs.recipe_id_full }}
        secrets: inherit

    conan-package-create-windows:
        needs: [ conan-recipe-version, conan-package-export ]
        if: ${{ (github.event_name == 'push' && (github.ref_name == 'main' || github.ref_name == 'master' || needs.conan-recipe-version.outputs.is_release_branch == 'true')) }}
        uses: ultimaker/cura-workflows/.github/workflows/conan-package-create-windows.yml@main
        with:
            recipe_id_full: ${{ needs.conan-recipe-version.outputs.recipe_id_full }}
        secrets: inherit

    conan-package-create-linux:
        needs: [ conan-recipe-version, conan-package-export ]
        if: ${{ (github.event_name == 'push' && (github.ref_name == 'main' || github.ref_name == 'master' || needs.conan-recipe-version.outputs.is_release_branch == 'true')) }}
        uses: ultimaker/cura-workflows/.github/workflows/conan-package-create-linux.yml@main
        with:
            recipe_id_full: ${{ needs.conan-recipe-version.outputs.recipe_id_full }}
        secrets: inherit
